body {
    background-color: #0e1117;
    color: white;
}

h1, h2, h3 {
    color: #00c6ff;
}

.stButton>button {
    background-color: #00c6ff;
    color: black;
    border-radius: 10px;
}

.stTextInput>div>div>input {
    border-radius: 8px;
}